/* You can add global styles to this file, and also import other style files */
#signin-title{
    color: rgba(18,166,159,255);
}
.small_padding {
    padding: 10px;

}

.medium_padding {
    padding: 20px;
}

.large_padding {
    padding: 30px;
}

.underlined {
    text-decoration: underline;
}

.login_signup_container {
    box-sizing: border-box;
    display: flex;
	align-items: center;
    justify-content: center;
    padding: 10px;
    width: 800px;
    min-height: 100vh;
    margin: auto;
}

.login_signup_column_left {
    width: 50%;
    text-align: center;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    background: white;
    border-left: 4px solid rgba(18,166,159,255);
    border-top: 4px solid rgba(18,166,159,255);
    border-bottom: 4px solid rgba(18,166,159,255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.login_signup_column_right {
    width: 50%;
    text-align: center;
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    background: rgba(3,9,16,255);
    border-right: 4px solid rgba(18,166,159,255);
    border-top: 4px solid rgba(18,166,159,255);
    border-bottom: 4px solid rgba(18,166,159,255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.login_signup_center_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    padding: 30px;
}

.login_signup_center_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    padding: 30px;
    opacity: 0.8;
}

::placeholder {
    color: rgb(0,0,0);
    font-style: italic;
}

.white_text {
    color: white;
}

.white_outline:focus {
    outline: 2px solid white;
}

.error_message {
    color: red;
    background-color: pink;
    padding: 5px;
    border-radius: 4px;
}

/* Loading overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.prompt-overlay{
    display: block;
    width: 60%;
}
#loadingPromptImage{
    width: 100px;
    height: 100px;
    margin-left: 60%;
}
.prompt-overlay > button{
    margin: 10px 10px 10px 70%;
}
#scanforface-title{
    color: rgba(18,166,159,255);
}
#2FA_video{
    margin-left: auto;
    margin-right: auto;
}
.photoUploadOverlay{
    background-color: black;
}

/* Loading box */
.loading-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  
}
.loading-box-title{
    color: rgba(18,166,159,255);
    font-weight: bold;
    text-align: center;
}
/* Loading image */
.loading-image {
    width: 100px;  /* Adjust size as needed */
    height: 100px;
    margin: 10px;
}

.error-image {
    width: 50px;  /* Adjust size as needed */
    height: 50px;
    margin: 5px;
}

.login_prompt_error {
    color: red;
    background-color: pink;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    border-radius: 5px;
    inline-size: 300px;
    text-align: center;
}

.login_prompt_success {
    color: green;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    border: 2px solid green;
    border-radius: 5px;
    inline-size: 300px;
    text-align: center;
    display: block;
}
.Preview-title{
    color: rgba(18,166,159,255);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
#uploadphoto-btn{
    width: 160px;
}
.capture-confirmation-buttons > button{
    align-items: center;
    margin: 2%;
    width: 160px;
}
/* Spinner animation */
.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}
.loading-image{
    margin-left: auto;
    margin-right: auto;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#capture-container{
    display: block;
    align-items: center;
    margin-top: 20px;
}
#video{
    display: block;
    margin: auto;
    width: 320px;
    height: 240px;
}
#photo-container {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
  }
#canvas1{
    display: inline-block;
    margin: auto;
    width: 320px;
    height: 240px;
}
#canvas2{
    display: inline-block;
    margin: auto;
    width: 320px;
    height: 240px;
}
#canvas3{
    display: inline-block;
    margin: auto;
    width: 320px;
    height: 240px;
}
.login-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
}

.login-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); 
    object-fit: cover;
    z-index: -1; 
}
.show-password{
    margin-top: 4%;
}
.show-password > input{
    width: 30px;
    text-align: left;
    display: inline-block;
    align-items: center;
    border-radius: none;
    border: none;
    margin-right: 4%;
   
}

.show-password > input, button{
    outline: none;
}

.show-password input[type="checkbox"]{
    width: 15px;
    height: 15px;
}