@import "tailwindcss";

button{
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(18,166,159,255);
    border: 1px solid rgba(18,166,159,255);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(144, 238, 213);
    color: black;
    border-radius: 10px;
    cursor: default;
    border: 1px solid rgb(144, 238, 213);
    box-shadow: 3px 3px 3px #888888;
}
.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: rgba(3,9,16,255);
    padding: 5px;
}

#logo{
    color: rgba(85,249,239,255);
    font-size: 45px;
    font-weight: bold;
}
.navbar{
    display: inline-block;
}

.icon {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 10px;
    color: white;
    margin-right: 35%;
    margin-left: 5%;
}
.navbar > a {
    margin-left: 10px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.navbar > a:hover {
    background-color: rgb(144, 238, 213);
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

.active {
    font-weight: bold;
    font-size: 25px;
}
.video-container {
    position: fixed;
    top: 97px;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Content */
.title{
    margin: 5rem 0 5rem 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    align-items: center;
    position: relative; /* Remove fixed positioning */
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.content-container {
    margin: auto;
    align-items: center;
    position: relative;
    color: black;
    text-align: center;
    background-color: white;
    border: 50%;
    height: 60%;
    width: 85%;
    border-radius: 20px;


}
.account-navbar{
    background-color: rgb(235, 235, 235);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: sticky; /* Make the navbar sticky */
    top: 100px; /* Adjust position if necessary */
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it stays on top */
}
.account-navbar > a{

    margin-left: 2%;
    margin-right: 2%;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.account-navbar > a:hover {
    color: rgba(18,166,159,255);
    cursor: pointer;    
}
.account-navbar > a.active {
    font-weight: bold;
    color: rgba(18,166,159,255);
    border-bottom: 2px solid rgba(18,166,159,255);
}
.major{
    margin-top: 0;
    color: black
}
.main{
    color: black;
    padding-top: 50px;
    padding-bottom: 25%;
}
.content{
    
    position: fixed;
    margin-top: 0;
    margin-bottom: 50%;
    overflow-y: hidden;
    overflow-x:hidden;
    max-height: 60%;
    width: 85%;
}
#profile{
    margin-top: 0;
}
.profile-container > input{
    margin: 10px auto 10px auto;
    padding-bottom: 10px;
    width: 30%;
}
.password-container > input{
    margin: 10px auto 10px auto;
    padding-bottom: 10px;
    width: 30%;
}
#delete{
    align-items: center;
    text-align: center;
    display: block;
}
.delete-btn{
    background-color: transparent;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
    border-radius: 10px;
    cursor: pointer;
}   
.major > h2{
    color: rgba(18,166,159,255);
}