

button{
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(18,166,159,255);
    border: 1px solid rgba(18,166,159,255);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(144, 238, 213);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(144, 238, 213);
    box-shadow: 3px 3px 3px #888888;
}

/* Content */
.title{
    margin: 5rem 0 5rem 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    align-items: center;
    position: relative; /* Remove fixed positioning */
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.content-container {
    margin: auto;
    align-items: center;
    position: relative;
    color: black;
    text-align: center;
    background-color: white;
    border: 50%;
    height: 65%;
    width: 85%;
    border-radius: 20px;


}
.account-navbar{
    background-color: rgb(235, 235, 235);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    position: sticky; 
    top: 100px; 
    width: 100%; 
    z-index: 1000;
}
.account-navbar > a{

    margin-left: 2%;
    margin-right: 2%;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 1.5%;
    font-size: 25px;
}
.account-navbar > a:hover {
    color: rgba(18,166,159,255);
    cursor: pointer;    
}
.account-navbar > a.active {
    font-weight: bold;
    color: rgba(18,166,159,255);
    border-bottom: 2px solid rgba(18,166,159,255);
}
.major{
    margin-top: 0;
    color: black
}
.main{
    color: black;
    padding-top: 50px;
    padding-bottom: 25%;
}
.content{
    
    position: fixed;
    margin-top: 0;
    margin-bottom: 50%;
    overflow-y: hidden;
    overflow-x:hidden;
    max-height: 60%;
    width: 85%;
}
#profile{
    margin-top: 0;
}
.profile-container {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:20px;
    margin-bottom: 2%;
    justify-content: center;
    margin-right: 5%;
}
label{
    margin-top: 10%;
    width:  200px;
    text-align: right;
}
.profile-container > input{
    margin: 10px auto 10px auto;
    padding-bottom: 10px;
    width: 450px;
}
.password-container > input{
    margin: 10px auto 15px auto;
    padding-bottom: 10px;
    width: 30%;
}
#delete{
    align-items: center;
    text-align: center;
    display: block;
}
.delete-btn{
    background-color: transparent;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
    border-radius: 10px;
    cursor: pointer;
}   
.major > h2{
    color: rgba(18,166,159,255);
}
.activities-table-container {
    overflow-y: scroll;
    height: 320px;
  }
.activities-table-container thead tr{
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
  }