<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        let canvas = null;
        let context = null; // This should now work
        let video = null;
        let photoContainer = null;
        let base64Image1 = null;
        let base64Image2 = null;

        function startWebcamCapture() {
            canvas = document.getElementById('canvas');
            context = canvas.getContext('2d'); // This should now work
            video = document.getElementById('video');
            photoContainer = document.getElementById('photo-container');

            // Access webcam
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(err => {
                    console.error("Error accessing webcam: ", err);
                    alert("Unable to access webcam.");
                });
        }

        function capturePhoto() {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            photoContainer.style.display = 'block'; // Show the preview section
        }

        function uploadForRecognition() {
            if(base64Image1 == null)
            {
                base64Image1 = canvas.toDataURL("image/png").split(',')[1];  // Remove header
                return
            }

            if(base64Image2 == null)
            {
                base64Image2 = canvas.toDataURL("image/png").split(',')[1];  // Remove header
            }

            let response = fetch("{{ url_for('login.run_face_recognition') }}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ facePNG1: base64Image1, facePNG2: base64Image2 })
            })
            .then(response => response.json())
            .then(result => {
                displayLoadingPrompt(result.reason, result.success)
                if (result.image) {
                    let img = new Image();

                    img.onload = function () {
                        // Resize canvas to match image dimensions
                        canvas.width = img.width;
                        canvas.height = img.height;

                        // Draw the image on the canvas
                        context.drawImage(img, 0, 0, img.width, img.height);
                    };

                    // Set image source from Base64
                    img.src = "data:image/png;base64," + result.image;
                }

                if(result.hamming_distance <= 5)
                {
                    displayLoadingPrompt("Hamming Distance: " + result.hamming_distance + ". Similarity check passed!", true)
                }
                else
                {
                    displayLoadingPrompt("Hamming Distance: " + result.hamming_distance + ". Similarity check failed! Please try again.", false)
                }
            });
        }

        //for login & signup functionality

        function displayCapturePhotoOverlay() {
            document.getElementById("loadingOverlay").style.display = "flex";
            document.getElementById("loadingPromptOverlay").style.display = "none";
            document.getElementById("loadingGraphics").style.display = "none";
            document.getElementById("photoUploadOverlay").style.display = "block";
            startWebcamCapture();
        }

        function displayLoadingOverlay() {
            // Show the loading overlay
            document.getElementById("loadingPromptOverlay").style.display = "none";
            document.getElementById("loadingOverlay").style.display = "flex";
            document.getElementById("loadingGraphics").style.display = "block";
        }

        function displayLoadingPrompt(message, success) {
            document.getElementById("loadingGraphics").style.display = "none";
            document.getElementById("loadingPromptMessage").innerHTML = message;
            document.getElementById("loadingPromptOverlay").style.display = "block";

            if (success)
            {
                document.getElementById("loadingPromptImage").src = "{{ url_for('static', filename='ethereum.png') }}";
                document.getElementById("loadingPromptMessage").className = "login_prompt_success"
            }
            else
            {
                document.getElementById("loadingPromptImage").src = "{{ url_for('static', filename='error icon.png') }}";
                document.getElementById("loadingPromptMessage").className = "login_prompt_error"
            }
        }

        function closeLoadingPrompt() {
            document.getElementById("loadingOverlay").style.display = "none";
        }

        function showLoginMessage(message) {
            document.getElementById("loginMessage").innerHTML = message;
            document.getElementById("loginMessageDiv").style.display = "block";
        }

        function showSignupMessage(message) {
            document.getElementById("signupMessage").innerHTML = message;
            document.getElementById("signupMessageDiv").style.display = "block";
        }

        function onSignInClick() {
            let username = document.getElementById("login_username").value;
            let password = document.getElementById("login_password").value;

            if(username == "")
            {
                showLoginMessage("Error: Username cannot be blank.")
                return
            }

            if(password == "")
            {
                showLoginMessage("Error: Password cannot be blank.")
                return
            }

            displayLoadingOverlay()
            let response = fetch("{{ url_for('login.login') }}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => response.json())
            .then(result => {
                displayLoadingPrompt(result.reason, result.success)
            });
        }

        function onPreSignUpClick() {
            document.getElementById("initial_signup_div").style.display = "none";
            document.getElementById("registration_signup_div").style.display = "block";
        }

        function onSignUpClick() {
            let username = document.getElementById("signup_username").value;
            let password = document.getElementById("signup_password").value;
            let password_confirm = document.getElementById("signup_password_confirm").value;

            if(username == "")
            {
                showSignupMessage("Error: Username cannot be blank.")
                return
            }

            if(password == "")
            {
                showSignupMessage("Error: Password cannot be blank.")
                return
            }

            displayLoadingOverlay()

            if(password != password_confirm)
            {
                //display login error
                showSignupMessage("Error: Passwords do not match.")
                return
            }

            // Step 1: Send credentials via POST
            let response = fetch("{{ url_for('login.signup') }}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => response.json())
            .then(result => {
                displayLoadingPrompt(result.reason, result.success)
            });
        }
    </script>
</head>

<body>
    <button onclick="displayCapturePhotoOverlay()">Get Face Data</button>
    <div class="login_signup_container">
        <div class="login_signup_column_left">
            <div class="login_signup_center_left">
                <div>
                    <h2 class="small_padding">Sign In</h2>
                    <div id="loginMessageDiv" class="small_padding" style="display: none;">
                        <p id=loginMessage class="error_message"></p>
                    </div>
                    <div>
                        <div class="small_padding">
                            <input type="username" id="login_username" placeholder="Username">
                        </div>
                        <div class="small_padding">
                            <input type="password" id="login_password" placeholder="Password">
                        </div>
                    </div>
                    <br>
                    <button onclick="onSignInClick()">Sign In</button>
                </div>
            </div>
        </div>
        <div class="login_signup_column_right">
            <div class="login_signup_center_right">
                <div id="initial_signup_div" style="display: block;">
                    <h2 class="white_text">New User?</h2>
                    <p class="medium_padding white_text">No worries! Click the button below to create a free account with us.</p>
                    <button onclick="onPreSignUpClick()">Sign Up</button>
                </div>
                <div id="registration_signup_div" style="display: none;">
                    <h2 class="small_padding white_text">Create Account</h2>
                    <div id="signupMessageDiv" class="small_padding" formGroupName="signup" style="display: none;">
                        <p id=signupMessage class="error_message">{{signupErrorMessage}}</p>
                    </div>
                    <div class="small_padding" formGroupName="signup">
                        <input type="text" class="white_outline" id="signup_username" placeholder="Your New Username" name="username">
                    </div>
                    <div class="small_padding" formGroupName="signup">
                        <input type="password" class="white_outline" id="signup_password" placeholder="Your Password" name="password">
                    </div>
                    <div class="small_padding" formGroupName="signup">
                        <input type="password" class="white_outline" id="signup_password_confirm" placeholder="Confirm Password" name="password_confirm">
                    </div>
                    <div class="small_padding">
                        <button onclick="onSignUpClick()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="loading-box">
            <div id="loadingGraphics" style="display: none;">
                <img src="{{ url_for('static', filename='ethereum.png') }}" alt="Ethereum Logo" class="loading-image">
                <div class="spinner"></div>
                <p>Please wait (this may take a minute)...</p>
            </div>
            <div id="loadingPromptOverlay" style="display: none;">
                <img id=loadingPromptImage src="{{ url_for('static', filename='error icon.png') }}" alt="Ethereum Logo" class="error-image">
                <p id=loadingPromptMessage class="login_prompt_text"></p>
                <button onclick="closeLoadingPrompt()">Ok</button>
            </div>
            <div id="photoUploadOverlay" style="display: none;">
                <h2>Capture Your Picture</h2>
                <p>Your face is needed for multifactor authentication. Please take a picture of yourself to continue.</p>
    
                <video id="video" width="320" height="240" autoplay></video>
                <br>
                <button id="capture" onclick="capturePhoto()">Take Photo</button>
                
                <div id="photo-container">
                    <h3>Preview</h3>
                    <canvas id="canvas" width="320" height="240"></canvas>
                    <br>
                    <button id="upload" onclick="uploadForRecognition()">Upload Photo</button>
                </div>
            </div>
        </div>
    </div>
</body>