
/* Content */
.content-home {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 30vh;
}
.account-btn {
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgba(18,166,159,255);
    border: 1px solid rgba(18,166,159,255);
    color: white;

}

button.account-btn:hover {
    background-color: rgb(144, 238, 213);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(144, 238, 213);
}

.quick-link-container {
    border: 3px solid rgb(255, 255, 255);
    margin: auto;
    width: 80%;
    height: 20%;
}

.quick-link-btn {
    border-radius: 3px;
    font-size: 1rem;
    background-color: rgba(18,166,159,255);
    border: 1px solid rgba(18,166,159,255);
    color: white;
}

button.quick-link-btn:hover {
    background-color: rgb(144, 238, 213);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(144, 238, 213);
}