<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        let canvas = null;
        let context = null; // This should now work
        let video = null;
        let photoContainer = null;
        let base64Image1 = null;
        let base64Image2 = null;
        let base64Image3 = null;
        let photoArray = null;
        let photosTaken = 0;
        let confirmedUniqueUsername = false;
        let confirmedPhotos = false;

        function startWebcamCapture() {
            video = document.getElementById('video');
            photoContainer = document.getElementById('photo-container');

            // Access webcam
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(err => {
                    console.error("Error accessing webcam: ", err);
                    alert("Unable to access webcam.");
                });
        }

        function capturePhoto() {
            if(photosTaken >= 3)
            {
                photosTaken = 0;
            }

            canvas = document.getElementById('canvas'+(photosTaken + 1));
            context = canvas.getContext('2d'); // This should now work
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            photoContainer.style.display = 'block'; // Show the preview section
            photosTaken = photosTaken + 1;
        }

        function uploadForRecognition() {
            if(photosTaken < 3)
            {
                displayFaceRecognitionMessage("Error: Three photos are required!", false);
                return;
            }

            canvas = document.getElementById('canvas1');
            base64Image1 = canvas.toDataURL("image/png").split(',')[1];  // Remove header

            canvas = document.getElementById('canvas2');
            base64Image2 = canvas.toDataURL("image/png").split(',')[1];  // Remove header

            canvas = document.getElementById('canvas3');
            base64Image3 = canvas.toDataURL("image/png").split(',')[1];  // Remove header

            photoArray = [base64Image1, base64Image2, base64Image3]

            let response = fetch("{{ url_for('login.run_face_recognition') }}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ faceArray: photoArray })
            })
            .then(response => response.json())
            .then(result => {
                displayFaceRecognitionMessage(result.reason, result.success)
                console.log(result.output)
                if(result.success)
                {
                    confirmedPhotos = true;
                    document.getElementById("final-photo-confirmation-container").style.display = "block";
                    document.getElementById("capture-container").style.display = "none";
                }
                if (result.output) {
                    console.log("Showing images...");
                    result.output.forEach((imageObj, index) => {
                        if (index < 3) { // Ensure we don't access an out-of-bounds index
                            let canvas = document.getElementById(`canvas${index + 1}`);
                            let context = canvas.getContext("2d");

                            let image = new Image();
                            image.onload = function() { // Ensure image is loaded before drawing
                                context.clearRect(0, 0, canvas.width, canvas.height); // Clear any previous drawing
                                context.drawImage(image, 0, 0, canvas.width, canvas.height);
                            };
                            image.src = "data:image/png;base64," + imageObj.image;
                        }
                    });
                }
            });
        }

        function resetSignUpPhotos() {
            canvas = document.getElementById('canvas1');
            let context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height); // Clear any previous drawing
            base64Image1 = null;

            canvas = document.getElementById('canvas2');
            context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height); // Clear any previous drawing
            base64Image2 = null;

            canvas = document.getElementById('canvas3');
            context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height); // Clear any previous drawing
            base64Image3 = null;

            photosTaken = false;
            confirmedPhotos = false;

            displayCapturePhotoOverlay()
        }

        //for login & signup functionality

        function displayCapturePhotoOverlay() {
            document.getElementById("loadingOverlay").style.display = "none";
            document.getElementById("loadingPromptOverlay").style.display = "none";
            document.getElementById("loadingGraphics").style.display = "none";
            document.getElementById("final-photo-confirmation-container").style.display = "none";
            document.getElementById("face_recognition_message").style.display = "none";
            document.getElementById("capture-container").style.display = "block";
            document.getElementById("photo-container").style.display = "none";
            document.getElementById("photoUploadOverlay").style.display = "flex";

            startWebcamCapture();
        }

        function displayLoadingOverlay() {
            // Show the loading overlay
            document.getElementById("loadingPromptOverlay").style.display = "none";
            document.getElementById("loadingOverlay").style.display = "flex";
            document.getElementById("loadingGraphics").style.display = "block";
        }

        function displayLoadingPrompt(message, success) {
            document.getElementById("loadingOverlay").style.display = "flex";
            document.getElementById("loadingGraphics").style.display = "none";
            document.getElementById("loadingPromptMessage").innerHTML = message;
            document.getElementById("loadingPromptOverlay").style.display = "block";

            if (success)
            {
                document.getElementById("loadingPromptImage").src = "{{ url_for('static', filename='ethereum.png') }}";
                document.getElementById("loadingPromptMessage").className = "login_prompt_success"
            }
            else
            {
                document.getElementById("loadingPromptImage").src = "{{ url_for('static', filename='error icon.png') }}";
                document.getElementById("loadingPromptMessage").className = "login_prompt_error"
            }
        }

        function displayFaceRecognitionMessage(message, success) {
            document.getElementById("face_recognition_message").innerHTML = message;
            document.getElementById("face_recognition_message").style.display = "block";

            if (success)
            {
                document.getElementById("face_recognition_message").className = "face_recognition_message_success"
            }
            else
            {
                document.getElementById("face_recognition_message").className = "face_recognition_message_error"
            }
        }

        function closeLoadingPrompt() {
            document.getElementById("loadingOverlay").style.display = "none";
        }

        function close2FAFaceOverlay() {
            document.getElementById("loginFaceAuthOverlay").style.display = "none";
        }

        function showLoginMessage(message) {
            document.getElementById("loginMessage").innerHTML = message;
            document.getElementById("loginMessageDiv").style.display = "block";
        }

        function showSignupMessage(message) {
            document.getElementById("signupMessage").innerHTML = message;
            document.getElementById("signupMessageDiv").style.display = "block";
        }

        function onSignInClick() {
            let username = document.getElementById("login_username").value;
            let password = document.getElementById("login_password").value;

            if(username == "")
            {
                showLoginMessage("Error: Username cannot be blank.")
                return
            }

            if(password == "")
            {
                showLoginMessage("Error: Password cannot be blank.")
                return
            }

            displayLoadingOverlay()
            let response = fetch("{{ url_for('login.login') }}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => response.json())
            .then(result => {
                if(result.success)
                {
                    capture2FAFrames()
                }
                else
                {
                    displayLoadingPrompt(result.reason, result.success)
                }
            });
        }

        // Capture multiple frames for face authentication
        function capture2FAFrames() {
            let video_2FA = document.getElementById("2FA_video");
            let username = document.getElementById("login_username").value;
            let password = document.getElementById("login_password").value;
            let errorMessage2FA = document.getElementById("2FAErrorMessage");

            // Access webcam
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video_2FA.srcObject = stream;
            })
            .catch(err => {
                console.error("Error accessing webcam: ", err);
                alert("Unable to access webcam.");
            });

            document.getElementById("loginFaceAuthOverlay").style.display = "flex";

            let frameCount = 5;  // Number of frames to capture
            let interval = 400;  // Capture every 400ms
            let count = 0;
            frames = [];

            let captureInterval = setInterval(() => {
                canvas_2FA = document.getElementById("2FA-capture");
                context_2FA = canvas_2FA.getContext("2d");
                //canvas_2FA.width = video_2FA.videoWidth;
                //canvas_2FA.height = video_2FA.videoHeight;
                context_2FA.drawImage(video_2FA, 0, 0, 320, 240);
                let imageData = canvas_2FA.toDataURL("image/png").split(',')[1];  // Remove header
                frames.push(imageData);

                count++;
                if (count >= frameCount) {
                    clearInterval(captureInterval);
                    console.log(frames)
                    fetch("/auth/login-2FA-Face", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ username: username, password: password, frames: frames })
                    })
                    .then(response => response.json())
                    .then(result => {
                        if(result.success)
                        {
                            close2FAFaceOverlay()
                            displayLoadingPrompt("Face detected! Two Factor authentication successful.", true)
                            window.location.href = "/home";
                        }
                        else
                        {
                            errorMessage2FA.innerHTML = result.reason;
                            errorMessage2FA.style.display = "block";
                            setTimeout(capture2FAFrames, 50); // Wait 200ms before next session
                        }
                    })
                    .catch(error => console.error("Error:", error));
                }
            }, interval);
        }

        function onPreSignUpClick() {
            document.getElementById("initial_signup_div").style.display = "none";
            document.getElementById("registration_signup_div").style.display = "block";
        }

        async function onSignUpClick() {
            document.getElementById("signUpButton").disabled = true;
            document.getElementById("photoUploadOverlay").style.display = "none";
            let username = document.getElementById("signup_username").value;
            let password = document.getElementById("signup_password").value;
            let password_confirm = document.getElementById("signup_password_confirm").value;

            if(username == "")
            {
                showSignupMessage("Error: Username cannot be blank.")
                return
            }

            if(password == "")
            {
                showSignupMessage("Error: Password cannot be blank.")
                return
            }

            if(password != password_confirm)
            {
                //display login error
                showSignupMessage("Error: Passwords do not match.")
                return
            }

            if(confirmedUniqueUsername == false)
            {
                displayLoadingOverlay()
                let usernameResponse = await fetch("usernamecheck", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username: username })
                })

                let result = await usernameResponse.json();
                confirmedUniqueUsername = result.success;

                if(result.success == false)
                {
                    displayLoadingPrompt(result.reason, result.success);
                    return
                }
            }

            if(confirmedPhotos == false)
            {
                displayCapturePhotoOverlay()
                return
            }

            displayLoadingOverlay()

            console.log("Sending sign up request...")
            // Step 1: Send credentials via POST
            let response = fetch("{{ url_for('login.signup') }}", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username: username, password: password, faceArray: photoArray })
            })
            .then(response => response.json())
            .then(result => {
                displayLoadingPrompt(result.reason, result.success)
            });
        }
    </script>
</head>

<body>
    <div class="login_signup_container">
        <div class="login_signup_column_left">
            <div class="login_signup_center_left">
                <div>
                    <h2 class="small_padding">Sign In</h2>
                    <div id="loginMessageDiv" class="small_padding" style="display: none;">
                        <p id=loginMessage class="error_message"></p>
                    </div>
                    <div>
                        <div class="small_padding">
                            <input type="username" id="login_username" placeholder="Username">
                        </div>
                        <div class="small_padding">
                            <input type="password" id="login_password" placeholder="Password">
                        </div>
                    </div>
                    <br>
                    <button onclick="onSignInClick()">Sign In</button>
                </div>
            </div>
        </div>
        <div class="login_signup_column_right">
            <div class="login_signup_center_right">
                <div id="initial_signup_div" style="display: block;">
                    <h2 class="white_text">New User?</h2>
                    <p class="medium_padding white_text">No worries! Click the button below to create a free account with us.</p>
                    <button onclick="onPreSignUpClick()">Sign Up</button>
                </div>
                <div id="registration_signup_div" style="display: none;">
                    <h2 class="small_padding white_text">Create Account</h2>
                    <div id="signupMessageDiv" class="small_padding" formGroupName="signup" style="display: none;">
                        <p id=signupMessage class="error_message">{{signupErrorMessage}}</p>
                    </div>
                    <div class="small_padding" formGroupName="signup">
                        <input type="text" class="white_outline" id="signup_username" placeholder="Your New Username" name="username">
                    </div>
                    <div class="small_padding" formGroupName="signup">
                        <input type="password" class="white_outline" id="signup_password" placeholder="Your Password" name="password">
                    </div>
                    <div class="small_padding" formGroupName="signup">
                        <input type="password" class="white_outline" id="signup_password_confirm" placeholder="Confirm Password" name="password_confirm">
                    </div>
                    <div class="small_padding">
                        <button id="signUpButton" onclick="onSignUpClick()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="loading-box">
            <div id="loadingGraphics" style="display: none;">
                <img src="{{ url_for('static', filename='ethereum.png') }}" alt="Ethereum Logo" class="loading-image">
                <div class="spinner"></div>
                <p>Communicating with BlockChain, please wait... (this may take a minute)...</p>
            </div>
            <div id="loadingPromptOverlay" style="display: none;">
                <img id=loadingPromptImage src="{{ url_for('static', filename='error icon.png') }}" alt="Ethereum Logo" class="error-image">
                <p id=loadingPromptMessage class="login_prompt_text"></p>
                <button onclick="closeLoadingPrompt()">Ok</button>
            </div>
        </div>
    </div>
    <div id="loginFaceAuthOverlay" class="loading-overlay" style="display: none;">
        <div class="loading-box">
            <h2>Scan Face for Authentication</h2>
            <br>
            <p>Please wait while we scan your face for authentication...</p>
            <br>
            <video id="2FA_video" width="320" height="240" autoplay></video>
            <br>
            <div class="two_factor_capture_container">
                <canvas id="2FA-capture" width="320" height="240"></canvas>
            </div>
            <br>
            <div class="prompt-message-overlay">
                <p id="2FAErrorMessage" class="login_prompt_error" style="display: none;"></p>
            </div>
        </div>
    </div>
    <div id="photoUploadOverlay" class="loading-overlay" style="display: none;">
        <div class="loading-box">
            <h2>Capture Your Picture</h2>
            <p>Your face is required for multifactor authentication.</p>
            <p>Please take three unique photos of yourself. Photos should be clear with good lighting to improve system accuracy.</p>
            <div class="prompt-message-overlay">
                <p id="face_recognition_message" class="face_recognition_message_success" style="display: none;"></p>
            </div>
    
            <div id="capture-container">
                <video id="video" width="320" height="240" autoplay></video>
                <br>
                <button id="2FA-capture" onclick="capturePhoto()">Take Photo</button>
            </div>
            
            <div id="photo-container" style="display: none;">
                <h3>Preview</h3>
                <canvas id="canvas1" width="320" height="240"></canvas>
                <canvas id="canvas2" width="320" height="240"></canvas>
                <canvas id="canvas3" width="320" height="240"></canvas>
                <br>
                <button id="upload" onclick="uploadForRecognition()">Upload Photos</button>
            </div>
            <div id="final-photo-confirmation-container" style="display: block;">
                <br>
                <p>Please check and verify that your face is clear and visible in each photo.</p>
                <br>
                <button id="resetSignUpPhotosButton" onclick="resetSignUpPhotos()">Start Over</button>
                <button id="finishSignUpButton" onclick="onSignUpClick()">Finish Sign Up</button>
            </div>
        </div>
    </div>
</body>