.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: rgba(3,9,16,255);
    padding: 0.5%;
}

#logo{
    color: rgba(85,249,239,255);
    font-size: 45px;
    font-weight: bold;
}
.navbar{
    display: inline-block;
}

.icon {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 10px;
    color: white;
    margin-right: 35%;
    margin-left: 5%;
}
.navbar > a {
    margin-left: 10px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.navbar > a:hover {
    background-color: rgb(144, 238, 213);
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

.active {
    font-weight: bold;
    font-size: 25px;
}
.video-container {
    position: fixed;
    top: 97px;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* Content */
.title{
    margin: 5rem 0 5rem 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    align-items: center;
    position: relative; /* Remove fixed positioning */
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.about-title{
    color: rgba(18,166,159,255);
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
}
.about-content-container {
    margin: auto;
    align-items: center;
    position: relative;
    color: black;
    text-align: center;
    background-color: white;
    border: 50%;
    height: 65%;
    width: 85%;
    border-radius: 20px;
}

.about-content{
    position: fixed;
    margin-top: 0;
    text-align: center;
    margin-left: 2.5%;
    width: 80%;
}
.about-pics{
    margin:auto;
    align-items: center;
    margin-left: 10%;
}
.about-list > li{
    display: inline-block;
    border: none;
    color: black;
    padding-right: 100px;
}

.about-list > li > img{
    margin: 10px;
}
